<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Information</title>
        <link rel="icon" type="png" href="{% static 'images/Cobalt_Rock.png' %}" >
        <link rel="stylesheet" href="{% static 'info_css/style.css' %}">

    </head>

    <body>
        <header>
            <div>
                <a href="/cobalt"><img src="{% static "images/Cobalt_Rock.png" %}" width="50" alt="Cobalt" class="cobalt-icon"></a>
            </div>

            <div class="cobalt-text">
                <a href="/cobalt" class="cobalt-bnt"><strong>Cobalt</strong></a>
            </div>

            <div class="learn-more-text">
                <a href="/cobalt/information" class="learn-more-btn">Learn More</a>
            </div>
        </header>

        <div class="information-text">
            <h1>Important Info I Guess</h1>
        </div>
        
    </body>
</html>

